<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509865424115-8pdshtphg9177vh4u7nmh125uv9n8jnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509865424115-8pdshtphg9177vh4u7nmh125uv9n8jnk</string>
	<key>API_KEY</key>
	<string>AIzaSyCh7LasY0zSxXS-CB1YbLhdBz7aMKPcQ8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>509865424115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcluvinit.SnapchatTest</string>
	<key>PROJECT_ID</key>
	<string>snapchat-90083</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-90083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:509865424115:ios:05e5a167769bc1c2</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-90083.firebaseio.com</string>
</dict>
</plist>